<form [formGroup]="data.locationForm">
  <div class="popup">
    <h1 mat-dialog-title>Add project location</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-select placeholder="Country * " name="country" formControlName="country">
          <mat-option *ngFor="let country of countriesList" [value]="country.name" >
            {{country.name}}
          </mat-option>
        </mat-select>
        <mat-error>
          Country is required
        </mat-error>
      </mat-form-field>

      <mat-form-field >
        <mat-select placeholder="District * " name="district" formControlName="district">
          <mat-option *ngFor="let district of districtList" [value]="district.name" >
            {{district.name}}
          </mat-option>
        </mat-select>
        <mat-error>
          District is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="%" formControlName="percent" >
      </mat-form-field>


    </div>
    <div mat-dialog-actions>
      <!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
      <button mat-button [mat-dialog-close]="country.name" FocusInitial>Ok</button>
    </div>
  </div>
</form>

