<form [formGroup]="locationForm">
  <div class="popup" >
    <h1 mat-dialog-title>Add project location</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-select placeholder="Country" formControlName="country" required (valueChange)="filterDistrict($event)" [(value)]="selectedCountryId">
          <mat-option *ngFor="let country of countriesList"  [value]="country.id">
            {{country.name}}
          </mat-option>
        </mat-select>
        <mat-error>
          Country is required
        </mat-error>
      </mat-form-field>

      <mat-form-field >
        <mat-select placeholder="District" name="district" formControlName="district" required [(value)]="selectedDistrictId">
          <mat-option *ngFor="let district of districtsByCountryId"  [value]="district.id">
            {{district.name}}
          </mat-option>
        </mat-select>
        <mat-error>
          District is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="%" formControlName="percent" >
      </mat-form-field>


    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close FocusInitial (click)="confirm()">Ok</button>
      <button type="button" mat-button (click)="onNoClick()">Cancel</button>
    </div>
  </div>
</form>

