<section *ngIf="isReady" class="sector">
  <h2>Project Sectors</h2>
  <div class="sector-content">

    <ng-container *ngIf="dataSource?.data?.length">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
          <td mat-cell *matCellDef="let element"> {{getSectorNameById(element.sectorId)}}</td>
        </ng-container>

        <!-- percent Column -->
        <ng-container matColumnDef="percent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Percent</th>
          <td mat-cell *matCellDef="let element"> {{element.percent}}</td>
        </ng-container>

        <!-- delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" (click)="deleteSectorRow(element.sectorId)"><i class="material-icons">
            clear
          </i></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </ng-container>
    <div class="sector-select">
      <mat-form-field>
        <mat-select placeholder="-select-" name="status" [(value)]="selectedSectorId">
          <mat-option *ngFor="let sector of unusedSectorList" [value]="sector.id">
            {{sector.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="input" [formGroup]="sectorForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="%" formControlName="percent">
      </mat-form-field>
    </div>

    <div class="add">
      <button mat-button (click)="addSector()">ADD</button>
    </div>

    <p *ngIf="status" class="percent-info">
      Percent must be <= 100
    </p>
  </div>
</section>
