.project-list{
  width: 1200px;
  margin: 12px auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .20);

}


h2 {
  padding-top: 12px;
  padding-left: 18px;
  font-size: 22px;
  color: #383737d1;
  font-weight: 500;
}
.project-list-content{
  padding-top: 47px;
  padding-bottom: 25px;
  margin: 12px 18px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.add{
  border: 0;
  width: 65px;
  height: 36px;
  font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #FFFFFF;
  background-color: rgba(111, 172, 40, 1);
  margin-top: 24px;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;


}
