/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
  margin:0;
  padding: 0;
}

body{
  background-color: #eee;
  font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight: 500;
  font-style: normal;

}

.mat-form-field-wrapper{
  margin-top: 47px;
}
